page-home {

    .buttonmenu {
    margin-left: auto;
    margin-right: auto;
    width: 6em
      }

      .logo{
          margin-left: auto;
          margin-right: auto;
          width: 8em
      }

}
